<div class="container">
  <h1>Welcome to The Anagram Solver!</h1>

<% if @word %>
<p>The anagrams for <b><%= @word %></b> are:</p>
<% end %>
<% if @answers %>
<%      @answers.each do |answer| %>
<li><%= answer %></li>
<%   end %>
<% end %>
</div>

<p>Look for more words?</p>
