<div class="container">
  <h1>Welcome to The Anagram Solver!</h1>

<% if @word %>
<p>The anagrams for <b><%= @word %></b> are:</p>
<% end %>
<% if @answers %>
<%      @answers.each do |answer| %>
<li><%= answer %></li>
<%   end %>
<% end %>

<br>
<br>

<form action="/solve" method="post">
    Get another set of anagrams:<br>
    <input type="text" name="query">
    <input type="submit" value="Anagram me!">
</form>

</div>
